* {
  margin: 0;
  padding: 0;
}

header , main {
  text-align: center;
}

#color-palete {
  text-align: center;
  color: white;
}

.color {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

/* #black {
  text-align: center;
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
} */

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
  background-color: white;
}

.linha {
  height: 40px;
}
