* {
  margin: 0;
  padding: 0;
  background-color: #0e0b16;
  color: #f2f2f2;
}

header , main {
  text-align: center;
}

#board-size {
  color: #262626;
  background-color: white;
  width: 80px;
}

.button {
  background-color: #4717f6;
  height: 30px;
  width: 50px;
  font-weight: 800;
  border-radius: 25%;
  border: none;
}

#color-palete {
  text-align: center;
  color: white;
}

.color {
  border: solid 2px white;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
  background-color: white;
}

.linha {
  height: 40px;
}
